.container{
    background-image:url("../images/nuage.webp");
    background-repeat:no-repeat;
    background-size:cover;
    transition:all 2s;

}

h1{
    color: white;
}
.titre{
    text-align: center;
    
}
.case, .case1{
    height: 200px;
    border: 2px solid rgba(228, 223, 223, 0.753);
    margin-bottom:4px;
    margin-top: 20px;
    background-color: rgba(135, 207, 235, 0.781);
    text-align: center;
    font-size: 50px;
    font-family: Helvetica !important; 
    color: rgba(255, 255, 255, 0.863);
    text-shadow: -2px -1px 6px rgb(0, 0, 0);
}
.case1{
    margin-left: ;
}
h3{
    margin-top:15%;
    text-shadow: none !important;
}
.footer{
    text-align: center;
    
}
.footer h2,h2 {
    font-size: 1.5em;
}
.follow{
    text-align: center;
}
p {
    font-size: 3em;
}
.Footer{
    border-top: 3px solid #ccc;
}
a{
    text-decoration: none;
}
.fa-github,fa-facebook,.fa-twitter,.fa-instagram,.fa-envelope{ 
    transition: all 1s;
}
.fa-github:hover{
    color: black;
}
{
    transition: all 1s;
}
.fa-twitter:hover{
    color: rgb(67, 180, 255);
}

.fa-facebook:hover{
    color: rgb(111, 185, 246);
}
.fa-instagram:hover{
    color:rgba(255, 0, 0, 0.774)
}
.fa-envelope:hover{
    color: gray
}